<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/banner_inicio.png');" data-stellar-background-ratio="0.9">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end">
        <div class="col-md-9 ftco-animate pb-5">
            <p class="breadcrumbs mb-2"><span class="mr-2"><a href="home">Home <i class="fa fa-chevron-right"></i></a></span> <span>Acerca de nosotros<i class="fa fa-chevron-right"></i></span></p>
          <h1 class="mb-0 bread">Acerca de nosotros</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-3 pr-md-4 pb-lg-0 pb-4">
                <div class="heading-section  text-center text-lg-left">
                  <h2>Contáctanos</h2>
                  <p>En nuestras redes sociales o por correo electrónico.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 d-flex">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../../assets/images/mercadolibre.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">También puedes adquirir nuestros productos en nuestra tienda de Mercadolibre.</p>
                  <a target="_blank" href="https://listado.mercadolibre.com.mx/_CustId_106357400?item_id=MLM699920349&category_id=MLM429027&seller_id=106357400&client=recoview-selleritems&recos_listing=true" class="btn  btn-outline-secondary btn-block" >Visítanos</a>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-lg-3  d-flex">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url(assets/images/staff-2.jpg);"></div>
                    </div>
                    <div class="text pt-3 px-3 pb-4 text-center">
                        <h3>Datos de contacto</h3>
                        <span class="position mb-2">Redes sociales</span>
                        <div class="faded">
                            <ul class="ftco-social text-center">
                              <li ><a target="_blank" href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                              <li ><a target="_blank" href="https://www.facebook.com/concretetoolsmx/" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                              <li ><a target="_blank" href="https://www.youtube.com/channel/UCph1RUp0EzT1AgHkFoLJcoA" class="d-flex align-items-center justify-content-center"><span class="fa fa-youtube"></span></a></li>
                              <li ><a target="_blank" href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>


