<div class="hero-wrap js-fullheight" style="background-image: url('../../../../assets/images/banner_inicio.png');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
      <div class="col-md-6 ftco-animate">
        <h2 class="subheading">Leave the house cleaning chores to us</h2>
        <h1 class="mb-4">Let us do the dirty work, so you don't have to.</h1>
        <p><a href="#" class="btn btn-primary mr-md-4 py-2 px-4">Learn more <span class="ion-ios-arrow-forward"></span></a></p>
      </div>
    </div>
  </div>
</div>
<div class="portada-desktop"></div>
<div class="row justify-content-center " >
    <div style="background-image: url('../../../../assets/home/home_bg.jpg');"></div>

</div>

<!-- 
<section class="ftco-section ftco-no-pt ftco-no-pb">
<div class="container">
    <div class="row d-flex no-gutters">
    <div class="col-md-6 d-flex">
        <div class="img d-flex align-items-center justify-content-center py-5 py-md-0" style="background-image:url('../../../../assets/images/About1.png');">

        </div>
    </div>
    <div class="col-md-6 pl-md-5 pt-md-5">
        <div class="row justify-content-start py-5">
        <div class="col-md-12 heading-section ftco-animate">
            <span class="subheading">Welcome to Cleaning Company</span>
            <h2 class="mb-4">Let's make you fresher than ever</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        </div>
        </div>
        <div class="row ftco-counter py-5" id="section-counter">
        <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
            <div class="block-18">
                <img src="../../../../assets/images/logo.png" alt="" width="500px">

            </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
            <div class="text">
                <strong class="number" data-number="2342">0</strong>
            </div>
            <div class="text">
                <span>Happy <br>Customers</span>
            </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
            <div class="text">
                <strong class="number" data-number="30">0</strong>
            </div>
            <div class="text">
                <span>Building <br>Cleaned</span>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
      <div class="row d-flex no-gutters">
        <div class="col-md-6 pl-md-5 pt-md-5">
            <div class="row justify-content-start py-5">
            <div class="col-md-12 heading-section ftco-animate">
                <span class="subheading">ConcreteTools</span>
                <h2 class="mb-4">Let's make you fresher than ever</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
            </div>
            <div class="row ftco-counter py-5" id="section-counter2">
            <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                <div class="text">
                    <strong class="number" data-number="45">0</strong>
                </div>
                <div class="text">
                    <span>Years of <br>Experienced</span>
                </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
                <div class="block-18">
                <div class="text">
                    <strong class="number" data-number="2342">Herramientas especiales</strong>
                </div>
                <div class="text">
                    <span>para trabajar <br>en concreto</span>
                </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                <div class="text">
                    <strong class="number" data-number="30">0</strong>
                </div>
                <div class="text">
                    <span>Building <br>Cleaned</span>
                </div>
                </div>
            </div>
            </div>
        </div>
      <div class="col-md-6 d-flex">
          <div class="img d-flex align-items-center justify-content-center py-5 py-md-0" style="background-image:url('../../../../assets/Productos/FLOBULL-1208.jpg');">

          </div>
      </div>
      </div>
  </div>
</section>

 -->